[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = ./.oh-my-zsh
[submodule "zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "powerlevel10k"]
	path = .oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".nvim-astro/nvim"]
	path = .nvim-astro/nvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
